@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('Raleway-ExtraBold.ttf');
}
:root {
    --boxColor: #ff7e43;
    --backgroundColor: #f7ffda;
    --aniduration: 4s;
}

body{
    font-family: "Raleway";
    margin: 0px;
}

.container {
    background-color: var(--backgroundColor);

    display: grid;
    grid-template-columns: 10vw 15vw 25vw 25vw 12.5vw 6.25vw 6.25vw;
    grid-template-rows: 17vh 3vh 20vh 20vh 17vh 3vh 20vh;
}

.b1 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);

    grid-column: 1/4;
    grid-row: 1/5;
    
    animation-name: updown1;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b2 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    
    grid-column: 4/5;
    grid-row: 3/7;

    animation-name: updown2;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b3 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    
    grid-column: 5/6;
    grid-row: 4/8;

    animation-name: updown3;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b4 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    
    grid-column: 6/7;
    grid-row: 2/6;

    animation-name: updown4;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}
.b5 {
    background-color: var(--boxColor);
    border: 1px solid var(--backgroundColor);
    
    grid-column: 7/8;
    grid-row: 1/5;

    animation-name: updown5;
    animation-duration: var(--aniduration);
    animation-iteration-count: infinite;
}

.vn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.vornamen {
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
    z-index: 2;
}

.nn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.nachnamen {
    display: grid;
    grid-column: 3/4;
    grid-row: 4/5;
    z-index: 2;
    font-weight: 800;
}

.titel {
    display: grid;
    grid-column: 3/4;
    grid-row: 4/5;
    z-index: 2;
    font-weight: 800;
    align-self: flex-end;
    margin-bottom: 5px;
}

.anlass {
    display: grid;
    grid-column: 3/5;
    grid-row: 5;
    font-size: 8pt;
    font-weight: 600;
    align-self: flex-start;
    margin-top: 15px;

}

@keyframes updown1 {
    0% {
        translate: 0px 0px;
    }
    50% {
        translate: 0px 40vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown2 {
    0% {
        translate: 0px 0px;
    }
    25% {
        translate: 0px -20vh;
    }
    75% {
        translate: 0px 20vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown3 {
    0% {
        translate: 0px 0px;
    }
    50% {
        translate: 0px -40vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown4 {
    0% {
        translate: 0px 0px;
    }
    25% {
        translate: 0px 22.5vh;
    }
    75% {
        translate: 0px -17vh;
    }
    100% {
        translate: 0px 0px;
    }
}
@keyframes updown5 {
    0% {
        translate: 0px 0px;
    }
    50% {
        translate: 0px 40vh;
    }
    100% {
        translate: 0px 0px;
    }
}
