@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: #101011;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    position: relative; /* Relative position to contain pseudo-element */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/black-felt.png'); /* Grain texture URL */
    opacity: 0.5; /* Adjust opacity to control the intensity of the grain effect */
}

h1 {
    color: #f4aac3;
    font-size: 15rem;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.9;
    font-optical-sizing: auto;
    font-weight: 100; /* Initial font weight */
    font-style: normal;
    animation: animateFontWeight 5s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);

}




@keyframes animateFontWeight {
    from {
        font-weight: 100;
        transform: skewY(-5deg) scale(0.5);
    }
    to {
        font-weight: 700;
        transform: skewY(10deg) scale(1.0);
    }
}
