/*-----Tags----*/
body{
    background-color: black;
color: yellow;
margin: 100px;

}

h1{
color: white;
align-self: center;
}

p{

}

/*-----ID----*/
#poetry{
    padding: 500px;
    border-style: dotted;

}

/*-----Klassen----*/
.first{

}
.second{

}
.third{

}