*,
*::before,
*::after {

  box-sizing: border-box;
  }

  @font-face {
    font-family: Posterfont;
    src: url(fonts/c7988a4e3e8cc0b7152a121298699ed0.woff2)
}

  
  body {
    margin: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;

  }
  
  .container1 {
    width: 100vw;
    height: 50vw;
    margin: 0 auto;
    font-family: Posterfont;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    min-height: 100vh;
  }
  
  .item{
    width: 13vw;
    writing-mode: sideways-rl;

}

  .item-2, .item-3, .item-4 {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 8vw;
    flex-grow: 0.01;
    border-left: 1px solid black;  
  }

  .item-1 {
    flex-grow: 1;
    display: flex;
    margin-right: 1rem;
  }
  .item-3 {
    text-align: end;
  }

  .item-2{
    display: flex;
    justify-content: space-between;
  }
  .subitem-1 {
    height: fit-content;
  }

  .subitem-2 {
    text-align: end;
    height: fit-content;
  }


    .child {
      writing-mode: horizontal-tb;
      border-top: 4px ;
      font-size: 2vw;
      border-top: 1px solid black;
      padding-left: 1px;

    }

    .child-1 {
        min-height: 10%;
    }

    .child-2 {
        min-height: 10%;
    }
    .child-3 {
        min-height: 10%;
    }

    