/*-----Tags----*/
body{
   background-color: lavender;
}

h1{
font-family: fantasy;
}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*-----ID----*/
#poetry{

}

/*-----Klassen----*/
.first{

}
.second{

}
.third{

}