.Metrostation{
    width: 800%;
    height: 100%;
    background-color: #000526;
}

#metro{
    position: absolute;
    top: 44%;
    animation-name: movingMetro;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes movingMetro {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(50%);
    }
    50% {
        transform: translateX(340%);
    }
    90% {
        transform: translateX(630%);
    }
    100% {
        transform: translateX(686%);
    }
}

