/*-----Fonts----*/

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

@font-face {
    font-family: "Open Sans";
    src: url("Barques-Heavy.woff2") format("woff2");
}



/*-----Tags----*/
body {
    background-color: #f0f0f0;
    border-style: inset;
    border-color: #ffffff;
    padding: 50px;
    border-width: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;

    display: inline-block;


}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: #000000;
    text-align: left;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 72px;
    line-height: 72px;
    color: #9253ff;
    text-align: left;
    animation: 0.5s linear 0.5s infinite alternate bounce;


}

@keyframes bounce {
    from {
        font-variation-settings: 'BNCE' 50;
    }

    to {
        font-variation-settings: 'BNCE' -50;
    }
}

/*-----ID----*/
#poetry {}

/*-----Klassen----*/
.first {}

.second {}

.third {}