@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    --white: #fff;
    --background: #e4007b;
    
    
}

body{
    font-family: 'Roboto';
    background-color: var(--background);
   

} 

#plakat{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}


.titel{
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
}   

.konzertinfo{
    display: flex;
    justify-content: space-evenly;
    

}    

