/*-----Fonts----*/

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

@font-face {
    font-family: "GT Sectra";
    src: url("fonts/GT-Sectra-Display-Medium-Trial.woff2") format("woff2");
}



/*-----Tags----*/
body {
    background-color: #1F7AFF;

}

h1 {
    font-family: "GT Sectra", serif;
    font-weight: 100;
    color: #000000;
    text-align: center;
    font-size: 25vw;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1vw;
    letter-spacing: 3px;
    color: #ffffff;
    text-align: left;
    animation: 0.5s linear 0.5s infinite alternate bounce;


}


/*-----ID----*/
#year-2 {

}
#year-0 {

}
#year-1 {

}
#year-9 {

}

#info-1 {}
#info-2 {}
#info-3 {}

/*-----Klassen----*/

.grid-container-year {
    display: grid;
    grid-auto-columns: auto auto;
    grid-auto-rows: auto auto;
}

.grid-container-lettering {
    display: grid;
}
