/** ALLGEMEIN**/
body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
}

.scroll-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden; 
    background-color: #000526;
}

.containerUnderground,
.arrow,
.Metrostation,
.heading {
    flex-shrink: 0;
}

/** ARROW **/
.arrow {
    padding: 0;
    color: #CE00C3;
    rotate: -90deg;
    animation-name: flashAnimation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flashAnimation2 {
    0% {
        color: #ffffff;
    }

    50% {
        color: #CE00C3;
    }

    100% {
        color: #ffffff;
    }
}

/** HEADER **/
.heading {
    font-size: 3em;
    padding-left: 5%;
    animation-name: flashAnimation;
    animation-duration: 1s;
    animation-iteration-count: 5;
}

@keyframes flashAnimation {
    0% {
        color: #ffffff;
    }

    50% {
        color: #CE00C3;
    }

    100% {
        color: #ffffff;
    }
}

/** UNDERGROUND LOGO **/
.underground {
    width: 60%;
    margin: 0 auto;
    padding: -10%;

    /** LOGO ANIMATION **/
    opacity: 0;
    animation-name: appearLogo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

@keyframes appearLogo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.containerUnderground {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotateTwice;
    animation-delay: 6s;
    animation-duration: 2s; 
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes rotateTwice {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}


.Metrostation{
    width: 800%;
    height: 100%;
    background-color: #000526;
}

#metro{
    position: absolute;
    top: 44%;
    animation-name: movingMetro;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes movingMetro {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(50%);
    }
    50% {
        transform: translateX(340%);
    }
    90% {
        transform: translateX(630%);
    }
    100% {
        transform: translateX(686%);
    }
}

