/*-----Tags----*/
body{
padding-left: 30px;  
padding-top: 120px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
font-size: 800;
color: red;
font
padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
}

p{
    color: rgb(255, 0, 0);
font-family: Arial, Helvetica, sans-serif;
background-color: beige
}

/*-----ID----*/
#poetry{

}

/*-----Klassen----*/
.first{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-stretch: condensed;
border-style: solid;
border-color: brown;
border
border-bottom-left-radius: 10%;
  border-width: 2px;
}
.second{

}
.third{

}