.parent {
    display: grid;
    grid-template-areas:
        ". kopf kopf"
        "main main main"
        "aside foot foot"
        "colophon colophon colophon";
}

.item {
    border: 1px dotted red;
    margin: 6px;
    text-align: center;
    font-size: 3em;
}

.header {
    grid-area: kopf;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: foot;
}
.colophon{
    grid-area: colophon;
}