@import url('https://use.typekit.net/mja5fbt.css');

:root {
    --background: rgb(248, 242, 234);
    --color: red;
}

body {
    font-family: "jaf-bernina-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container {
    display: flex;
    width:60vw;
    /*Proportionen A-Formate 1.4141--*/
    height:calc(1.4141*60vw);
}

.two {
    background: var(--background);
    display: flex;
    flex-direction: column;
}

.single {
    background: var(--background);
}

.blue {
    background: var(--background);
}

.container div {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    justify-content: center;
    font-size: 5vw;
    padding: .5em;
    color: black;
    flex: 1;
}