@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    /* CSS Angaben über Custom Properties definieren, -> zentraler Ort, um Werte zu ändern */
    --white: #fff;
    --background: #e4007b;
    --dark: #6d0039;
    --bright: #c10069;
    --medium: #a00058;
    --grey:#666666;
}

body{
    font-family: 'Roboto';
    background-color: var(--grey); /*bezogen dann auf diese Angabe oben zu den Farben*/
    display: flex;
    justify-content: center;
}

section.titel{
    font-size: 3vw;
    text-align: center;
}

#plakat{
    background-color: var(--white); 
    width:60vw; 
    /*Proportionen A-Formate 1.4141--*/
    height:calc(1.4141*60vw);
}

section.dotrow {
    background-color: var(--background);
    padding: 3em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
   /*---Tipp mit flexbox arbeiten --*/
}

section.konzertinfo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.dot {
    border-radius: 50%;
    height: 150px;
    background-color: var(--white);
    margin: 5px;
    width: 150px;
}

section.musicstyles{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
.trenn-dot{
    border-radius: 100%;
    height: 0.7vw;
    width: 0.7vw;
    background-color: var(--background);
    margin: 0 0.7rem;
}
.daten{
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}